# Ignore build folders
build/
cmake-build-*/

# Ignore python relsate files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/we 

# IDE related files and folders
.vscode/
.idea/

# UV related files
uv.lock
.venv